{% extends 'homepage.html' %}
{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">View contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'addressbook' %}">Add contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mb-4 mt-4 align-items-center" style="width: 40%; min-height: 50vh; height: auto">

        <h2 class="text-center">List of contacts</h2>
        {% if is_empty %}
        <ul class="list-group bg-white">
            <li class="list-group-item border-0">
                <form method="get">
                    <div class="row">
                        <div class="col ">
                             <input class="form-control form-control-sm" type="text" placeholder="Search contact" name="search-area"
                               aria-label="Search">
                        </div>
                        <div class="col col-lg-4">
                             <input class="form-control form-control-sm ml-3" type="submit" value="B-day celebrants" name="b-day" >
                        </div>
                        <div class="col col-lg-2">
                             <input class="form-control form-control-sm ml-3" type="submit" value="All" name="all">
                        </div>
                    </div>
                </form>
            </li>

                    {% for contact in contacts %}
                    <li class="list-group-item border-0">
                        <div class="card bg-white">
                            <div class="card-header bg-white border-0 justify-content-end" style="height: 30px;">
                                <ul class="list-group list-group-horizontal justify-content-end">
                                    <li class="list-group-item">
                                        <a href="{% url 'delete' contact.id%}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'update' contact.id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'contact' contact.id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-minus" viewBox="0 0 16 16">

                                                <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>

                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>

                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>

                                            </svg>
                                        </a>
                                    </li>

                                </ul>

                    </div>
                    <div class="card-body bg-white">
                        <h4 class="card-title">{{ contact.name }} {{ contact.surname }}</h4>
                        <p class="card-text">{{ contact.phone }}<br>{{ contact.birthday }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        {% else %}
                <li class="list-group-item border-0">
                    <div class="card bg-white">
                        <div class="card-body">
                            <h3 class="card-title text-center">No items available</h3>
                            <p class="card-text text-center">Try to <a href="{% url 'addressbook' %}">add</a> it</p>
                        </div>
                    </div>
                </li>
        {% endif %}
        </ul>
    </div>
{% endblock %}